@font-face {
    font-family: 'GothamRoundedBold';
    src: url('gothamrnd-bold.eot');
    src: url('gothamrnd-bold.eot') format('embedded-opentype'),
         url('gothamrnd-bold.woff') format('woff'),
         url('gothamrnd-bold.ttf') format('truetype'),
         url('gothamrnd-bold.svg#GothamRoundedBold') format('svg');
}

@font-face {
    font-family: 'GothamRoundedBook';
    src: url('gothamrnd-book.eot');
    src: url('gothamrnd-book.eot') format('embedded-opentype'),
         url('gothamrnd-book.woff') format('woff'),
         url('gothamrnd-book.ttf') format('truetype'),
         url('gothamrnd-book.svg#GothamRoundedBook') format('svg');
}
@font-face {
    font-family: 'GothamRoundedMedium';
    src: url('gothamrnd-medium.eot');
    src: url('gothamrnd-medium.eot') format('embedded-opentype'),
         url('gothamrnd-medium.woff') format('woff'),
         url('gothamrnd-medium.ttf') format('truetype'),
         url('gothamrnd-medium.svg#GothamRoundedMedium') format('svg');
}
@font-face {
    font-family: 'GothamRoundedLight';
    src: url('gothamrnd-light.eot');
    src: url('gothamrnd-light.eot') format('embedded-opentype'),
         url('gothamrnd-light.woff') format('woff'),
         url('gothamrnd-light.ttf') format('truetype'),
         url('gothamrnd-light.svg#GothamRoundedLight') format('svg');
}

@font-face {
    font-family: 'GystRegular';
    src: url('gyst-regular.eot');
    src: url('gyst-regular.eot') format('embedded-opentype'),
         url('gyst-regular.woff') format('woff'),
         url('gyst-regular.ttf') format('truetype'),
         url('gyst-regular.svg#GystRegular') format('svg');
}

@font-face {
    font-family: 'FigtreeLight';
    src: url('figtreelight.eot');
    src: url('figtreelight.eot') format('embedded-opentype'),
         url('figtreelight.woff') format('woff'),
         url('figtreelight.ttf') format('truetype'),
         url('figtreelight.svg#FigtreeLight') format('svg');
}